<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>资源管理中心</title>
  <meta name="description" content="楼兰陶瓷资源中心">
  <link rel="icon" type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="login">
  <%= yield %>
</body>
</html>
